<launch>
  <arg name="bag" default="" />
  <arg name="cmd_topic" default="vehicle/cmd" />
  <arg name="vehicle_port" default="2040" />
  <arg name="ins_port" default="12340" />
  <node pkg="vehicle_interface_ros" type="vehicle_interface_node" name="vehicle_interface" output="screen">
    <param name="cmd_topic" value="$(arg cmd_topic)" />
    <param name="vehicle_port" value="$(arg vehicle_port)" />
    <param name="ins_port" value="$(arg ins_port)" />
  </node>
  <node pkg="rosbag" type="play" name="rosbag_play" output="screen" args="$(arg bag)" if="$(eval arg('bag') != '')" />
</launch>
