<launch>
  <!-- <include file="$(find velodyne_pointcloud)/launch/VLP-32C_points.launch"/>
  <include file="$(find lidar_cluster)/launch/lidar_cluster.launch"/> -->

    <node pkg="location" type="location_node" name="location_node" output="screen"/>
    <rosparam command="load" file="$(find location)/config/location.yaml" />

  <!-- <node name="urinay" pkg="urinay" type="urinay_exec" output="screen" ns="/AS/P">
    <rosparam command="load" file="$(find urinay)/config/urinay.yml" />
  </node>  -->

  <!-- <node pkg="skidpad_detection" type="skidpad_detection_node" name="skidpad_detection_node" output="screen">
    <rosparam command="load" file="$(find skidpad_detection)/config/skidpad_detection.yaml" />
  </node> -->

  <!-- <node pkg="rviz" type="rviz" name="cone_rviz_high" args="-d $(find location)/config/display_high.rviz"/> -->
  <!-- <node pkg="rviz" type="rviz" name="cone_rviz_skidpad" args="-d $(find location)/config/display_skidpad.rviz"/> -->

</launch>
