<launch>
  <arg name="bag" default="" />
  <arg name="mode" default="track" doc="赛道模式: accel | skidpad | track"/>
  <arg name="extra_config" default="" />
  <arg name="diagnostics_topic" default="localization/diagnostics" />
  <arg name="publish_global_diagnostics" default="true" />
  <arg name="global_diagnostics_topic" default="/diagnostics" />
  <arg name="diagnostics_rate_hz" default="1.0" />
  <!-- <include file="$(find velodyne_pointcloud)/launch/VLP-32C_points.launch"/>
  <include file="$(find perception_ros)/launch/lidar_cluster.launch"/> -->

  <node pkg="localization_ros" type="location_node" name="location_node" output="screen">
    <rosparam command="load" file="$(find localization_ros)/config/location_common.yaml" />
    <rosparam command="load" file="$(find localization_ros)/config/location_$(arg mode).yaml" />
    <rosparam if="$(eval arg('extra_config') != '')" command="load" file="$(arg extra_config)" />
    <param name="diagnostics_topic" value="$(arg diagnostics_topic)" />
    <param name="publish_global_diagnostics" value="$(arg publish_global_diagnostics)" />
    <param name="global_diagnostics_topic" value="$(arg global_diagnostics_topic)" />
    <param name="diagnostics_rate_hz" value="$(arg diagnostics_rate_hz)" />
  </node>

  <!-- <node name="high_speed_tracking" pkg="high_speed_tracking" type="high_speed_tracking_exec" output="screen" ns="/AS/P">
    <rosparam command="load" file="$(find high_speed_tracking)/config/high_speed_tracking.yml" />
  </node>  -->

  <!-- <node pkg="skidpad_detection" type="skidpad_detection_node" name="skidpad_detection_node" output="screen">
    <rosparam command="load" file="$(find skidpad_detection)/config/skidpad_detection.yaml" />
  </node> -->

  <!-- <node pkg="rviz" type="rviz" name="cone_rviz_high" args="-d $(find localization_ros)/config/display_high.rviz"/> -->
  <!-- <node pkg="rviz" type="rviz" name="cone_rviz_skidpad" args="-d $(find localization_ros)/config/display_skidpad.rviz"/> -->

  <node pkg="rosbag" type="play" name="rosbag_play" output="screen" args="$(arg bag)" if="$(eval arg('bag') != '')" />
</launch>
