<!--
  Autocross quick preset (real vehicle).
-->
<launch>
    <arg name="vehicle" default="A13"/>
    <arg name="launch_rviz" default="true"/>
    <arg name="launch_viz" default="true"/>

    <include file="$(find fsd_launch)/launch/autocross.launch">
        <arg name="simulation" value="false"/>
        <arg name="vehicle" value="$(arg vehicle)"/>
        <arg name="launch_rviz" value="$(arg launch_rviz)"/>
        <arg name="launch_viz" value="$(arg launch_viz)"/>
    </include>
</launch>
