<launch>
  <arg name="bag" default="/home/kerwin/rosbag/8.bag" />
  <arg name="rate" default="1.0" />
  <arg name="loop" default="false" />

  <param name="use_sim_time" value="true" />

  <!-- Skidpad Detection Node -->
  <include file="$(find skidpad_detection)/launch/skidpad_detection.launch" />

  <!-- Other Modules -->
  <include file="$(find perception_ros)/launch/lidar_cluster.launch" />
  
  <group>
    <param name="control/mode" value="3" />
    <include file="$(find control)/launch/controler.launch" />
  </group>

  <include file="$(find localization_ros)/launch/location.launch" />

  <!-- RViz Visualization (display only, no TF publish) -->
  <include file="$(find race_rviz_viz)/launch/viz.launch">
    <arg name="publish_tf" value="false" />
    <arg name="publish_cones" value="true" />
  </include>
  <node pkg="rviz" type="rviz" name="rviz_skidpad"
        args="-d $(find localization_ros)/config/display_skidpad.rviz" />

  <!-- Rosbag Play -->
  <node pkg="rosbag" type="play" name="rosbag_play" output="screen"
        args="$(eval '--clock -r {} {} {} /INS/ASENSING_INS:=/pbox_pub/Ins'.format(arg('rate'), '-l' if arg('loop')=='true' else '', arg('bag')) )" />
</launch>
