<launch>
  <arg name="publish_tf" default="false" />
  <arg name="publish_cones" default="true" />
  <arg name="publish_high_speed_tracking_viz" default="true" />
  <arg name="high_speed_tracking_viz_topic" default="/AS/P/high_speed_tracking/viz" />
  <arg name="publish_pathlimits" default="false" />
  <arg name="pathlimits_topic" default="/AS/P/pathlimits/partial" />
  <arg name="rviz_config" default="$(find high_speed_tracking)/config/display_high_speed.rviz" />

  <include file="$(find race_rviz_viz)/launch/viz.launch">
    <arg name="publish_tf" value="$(arg publish_tf)" />
    <arg name="publish_cones" value="$(arg publish_cones)" />
    <arg name="publish_high_speed_tracking_viz" value="$(arg publish_high_speed_tracking_viz)" />
    <arg name="high_speed_tracking_viz_topic" value="$(arg high_speed_tracking_viz_topic)" />
    <arg name="publish_pathlimits" value="$(arg publish_pathlimits)" />
    <arg name="pathlimits_topic" value="$(arg pathlimits_topic)" />
  </include>

  <node pkg="rviz" type="rviz" name="rviz_high_speed"
        args="-d $(arg rviz_config)" />
</launch>
