<launch>
  <arg name="bag" default="/home/kerwin/rosbag/22910_2.bag" />
  <arg name="rate" default="1.0" />
  <arg name="loop" default="false" />

  <!-- B7: Unified use_sim_time management - use global parameter with leading slash -->
  <param name="/use_sim_time" value="true" />

  <include file="$(find planning_ros)/launch/high_speed_tracking.launch" />
  <include file="$(find perception_ros)/launch/lidar_cluster.launch">
    <arg name="mode" value="track" />
  </include>
  <include file="$(find control)/launch/controler.launch" />
  <include file="$(find localization_ros)/launch/location.launch">
    <arg name="mode" value="track" />
  </include>
  <!-- 可视化已移除 -->

  <node pkg="rosbag" type="play" name="rosbag_play" output="screen"
        args="$(eval '--clock -r {} {} {} /INS/ASENSING_INS:=/pbox_pub/Ins'.format(arg('rate'), '-l' if arg('loop')=='true' else '', arg('bag')) )" />
</launch>
