<launch>
  <arg name="bag" default="/home/kerwin/rosbag/your_line_detection_bag.bag" />
  <arg name="rate" default="1.0" />
  <arg name="loop" default="false" />

  <param name="use_sim_time" value="true" />

  <!-- Line Detection Node -->
  <include file="$(find planning_ros)/launch/line_detection.launch" />

  <!-- Other Modules -->
  <include file="$(find perception_ros)/launch/lidar_cluster.launch">
    <arg name="mode" value="accel" />
  </include>

  <group>
    <param name="control/mode" value="3" />
    <include file="$(find control)/launch/controler.launch" />
  </group>

  <include file="$(find localization_ros)/launch/location.launch">
    <arg name="mode" value="accel" />
  </include>

  <!-- Rosbag Play -->
  <node pkg="rosbag" type="play" name="rosbag_play" output="screen"
        args="$(eval '--clock -r {} {} {} /INS/ASENSING_INS:=/pbox_pub/Ins'.format(arg('rate'), '-l' if arg('loop')=='true' else '', arg('bag')) )" />
</launch>
